/* Fill CSS here */

h1{
    color: rgb(18, 97, 158);
    text-align: center;
    text-decoration: underline; 
    font-family: monospace;
    text-transform: uppercase;
    font-size: 40px;
}
h1+div{
    height: auto; width: 95%; 
    margin: auto;
    /* border: red 1px solid; */
    display: flex;
    justify-content: space-evenly;
}
form{
    margin-top: 60px; 
    width: 30%;
    height: auto;
   border-radius: 7px;
    padding: 30px;
    margin-bottom: 80px;
    border: rgb(220, 207, 207) 1px solid;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
input[type="text"],
input[type="number"],
select
{
    font-size: 15px;
    padding: 10px 0px 10px 0px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    border: rgb(188, 184, 184) 1px solid;
    /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
}
label{
    font-size:20px; color: black;
    font-weight: bold;
    
}
input[type="submit"]
{
    font-size: 16px;
    background-color:  rgb(18, 97, 158);
    width: 100%;
    border-radius: 215px;
    border: none;
    color: white;
    font-weight: lighter;
    padding: 10px;
    
}

table
table td,
table th
{
   
   padding: 5px;
   text-align: center;
   background-color: rgb(18, 97, 158);
   color: white;
   /* border: teal 1px solid; */
   padding: 50px;
   font-size: 14px;
   font-weight: lighter;
   text-align: center;

}

 table tr{
 height: 15px;
    /* border: teal 1px solid; */
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
} 
table th{

    padding:10px 0px 10px 0px;
    /* border: rgb(18, 97, 158) 1px solid; */
    text-align: center;

}
table{
    margin-top: 60px;
    /* border: rgb(18, 97, 158) 1px solid; */
    width: 55%;
    height: 20px;

   
}
 tbody>tr>td:nth-child(8){
     background-color: red;
     border-radius: 10px;
     padding: 5px;
     text-align: center;
     width:6%;
     color: white;
 
 }
 tbody>tr>td:nth-child(7){
    background-color: greenyellow;
    
}

